.footer {
    background-color: black;
    padding: 100px;
    margin-top: 110px;
}

.footer-work-shedule {
    color: white;
    font-size: 20px;
    font-family: var(--main-font);
    line-height: 30px;
}

.footer-number {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-network {
    padding: 0 35px;
}

.networks {
    margin: 0 450px;
}

@media (max-width: 1200px) {
    .footer-container {
       flex-direction: column;
    }

    .networks {
        display: flex;
        flex-direction: row;
        padding: 30px;
    }

}

