.main-first-section {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.123) 0%, rgba(0, 0, 0, 0.3) 100%), url(../img/bg-sport-header.jpg), #161616;
    background-size: 100%;
}

.title-text {
    color: white;
    font-size: 32px;
    font-family: var(--main-font);
}

.text-development {
    color: white;
    font-size: 24px;
    font-family: var(--main-font);
    padding: 10px 0;
}

.text-number-first-section {
    color: white;
    font-size: 24px;
    font-family: var(--main-font);
    font-weight: 700;
    padding: 10px 0;
}

.text-card-discount {
    color: white;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    bottom: 55px;
}

.card-discount {
    border: 5px solid #D54928;
    text-align: center;
    padding: 200px 50px;
    margin: 50px;
}

.link-card-discount {
    width: 150px;
    font-size: 20px;
    padding: 12px 30px;
    background-color: #D54928;
    color: white;
    text-decoration: none;
}

.main-first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
}

@media (max-width: 891px) {
    .main-first-section {
        display: flex;
        flex-direction: column;
    }

    .text-first-section {
        text-align: center;
    }
}





